Repository angristan/bulla: changes, and which lefthook commands are due for each by the changed paths.
All: pint, phpstan, tests, biome, biome-embed, typecheck

pint:
  run: composer pint -- --test

phpstan:
  run: composer phpstan

tests:
  run: php artisan test --parallel

biome:
  run: npx biome check

biome-embed:
  run: cd embed && npm run check

typecheck:
  run: npm run typecheck

refactor: add pint:test script
  composer.json
  lefthook.yml
Due: none

docs: document depth and parent_author in API responses
  docs/api.md
  embed/src/api.ts
Due: biome, biome-embed, typecheck

docs: clarify max_depth in README
  README.md
Due: none

feat: add admin display name/email settings and claim comments feature
  app/Actions/Admin/ListComments.php
  app/Actions/Admin/SetupAdmin.php
  app/Actions/Admin/UpdateSettings.php
  app/Actions/Thread/GetThreadComments.php
  app/Console/Commands/ClaimAdminComments.php
  app/Http/Controllers/Admin/CommentsController.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Admin/SetupController.php
  app/Http/Controllers/Api/CommentController.php
  app/Http/Controllers/Api/ConfigController.php
  app/Models/Comment.php
  embed/src/components/CommentForm.tsx
  resources/js/Pages/Import/Index.tsx
  resources/js/Pages/Settings/Index.tsx
  resources/js/Pages/Setup.tsx
  routes/admin.php
  tests/Feature/Admin/AuthTest.php
  tests/Feature/Admin/CommentsTest.php
  tests/Feature/Admin/DashboardTest.php
  tests/Feature/Admin/SettingsTest.php
  tests/Feature/Admin/SetupTest.php
  tests/Feature/Thread/GetThreadCommentsTest.php
Due: pint, phpstan, tests, biome, biome-embed, typecheck

style: improve upvote button appearance
  embed/src/components/Comment.tsx
  embed/src/styles/embed.css
Due: biome, biome-embed, typecheck

chore: include embed dev server in composer run dev
  composer.json
Due: none

style: make widget preview controls more compact
  resources/js/Pages/Preview.tsx
Due: biome, typecheck

feat: improve comment form responsiveness with container queries
  embed/src/styles/embed.css
Due: none

Revert "feat: remove email from setup, update admin email description"
  app/Actions/Admin/SetupAdmin.php
  app/Http/Controllers/Admin/SetupController.php
  resources/js/Pages/Settings/Index.tsx
  resources/js/Pages/Setup.tsx
  tests/Feature/Admin/AuthTest.php
  tests/Feature/Admin/CommentsTest.php
  tests/Feature/Admin/DashboardTest.php
  tests/Feature/Admin/SettingsTest.php
  tests/Feature/Admin/SetupTest.php
Due: pint, phpstan, tests, biome, typecheck

fix: require email for reply notifications
  app/Http/Controllers/Api/CommentController.php
  embed/src/components/CommentForm.tsx
Due: pint, phpstan, tests, biome, biome-embed, typecheck

feat: add GitHub OAuth login for commenters
  README.md
  app/Actions/Admin/UpdateSettings.php
  app/Actions/Auth/AuthenticateCommenterWithGitHub.php
  app/Actions/Comment/CreateComment.php
  app/Actions/Thread/GetThreadComments.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Controllers/Api/CommentController.php
  app/Http/Controllers/Api/ConfigController.php
  app/Http/Controllers/CommenterAuthController.php
  app/Models/Comment.php
  bootstrap/app.php
  composer.json
  composer.lock
  config/cors.php
  config/services.php
  database/migrations/2025_12_31_000001_add_github_fields_to_comments_table.php
  docs/self-hosting.md
  embed/src/api.ts
  embed/src/components/App.tsx
  embed/src/components/Comment.tsx
  embed/src/components/CommentForm.tsx
  embed/src/components/GitHubLoginButton.tsx
  embed/src/styles/embed.css
  resources/js/Pages/Settings/Index.tsx
  resources/views/auth/github-callback.blade.php
  routes/web.php
  tests/Feature/Auth/CommenterAuthTest.php
Due: pint, phpstan, tests, biome, biome-embed, typecheck

feat: allow Enter key to advance setup wizard steps
  resources/js/Pages/Setup.tsx
Due: biome, typecheck

refactor: remove theme selector from preview, always follow admin theme
  resources/js/Pages/Preview.tsx
Due: biome, typecheck

feat: make data-marge-theme attribute reactive
  docs/embedding.md
  embed/src/components/App.test.tsx
  embed/src/components/App.tsx
  embed/src/index.tsx
  resources/js/Pages/Setup.tsx
Due: biome, biome-embed, typecheck

refactor: use opacity-based colors for better site integration
  embed/src/styles/embed.css
Due: none

feat: add deep linking to comments
  README.md
  app/Http/Controllers/Admin/CommentsController.php
  app/Mail/ModerationNotificationMail.php
  app/Mail/ReplyNotificationMail.php
  docs/embedding.md
  embed/src/components/App.tsx
  embed/src/components/Comment.tsx
  embed/src/styles/embed.css
  resources/js/Pages/Comments/Show.tsx
  resources/views/emails/moderation-notification.blade.php
  resources/views/emails/reply-notification.blade.php
Due: pint, phpstan, tests, biome, biome-embed, typecheck

fix: add PostgreSQL support for monthly comment stats query
  app/Actions/Admin/GetDashboardStats.php
Due: pint, phpstan, tests

fix: add gridProps workaround for recharts v3 compatibility
  resources/js/Pages/Dashboard.tsx
Due: biome, typecheck

fix: migrate biome config to v2 and consolidate configs
  .github/workflows/lint.yml
  biome.json
  embed/biome.json
  embed/package.json
  embed/src/api.test.ts
  embed/src/components/App.tsx
  embed/src/components/Comment.tsx
  embed/src/components/CommentForm.tsx
  embed/vite.config.ts
  embed/vitest.config.ts
  lefthook.yml
  resources/js/Pages/Comments/Index.tsx
  resources/js/Pages/Comments/Show.tsx
  resources/js/Pages/Dashboard.tsx
  resources/js/Pages/Import/Index.tsx
  resources/js/Pages/Preview.tsx
  resources/js/Pages/Settings/Index.tsx
  resources/js/Pages/Setup.tsx
  resources/js/app.tsx
Due: biome, biome-embed, typecheck

fix: use function keyword for vitest v4 class mocks
  embed/src/components/App.test.tsx
Due: biome, biome-embed, typecheck

refactor: consolidate config (env for infra, admin for app settings)
  README.md
  app/Actions/Admin/UpdateSettings.php
  app/Actions/Comment/CreateComment.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Http/Middleware/ConfigureCors.php
  bootstrap/app.php
  docs/self-hosting.md
  resources/js/Pages/Settings/Index.tsx
  tests/Feature/Admin/SettingsTest.php
Due: pint, phpstan, tests, biome, typecheck

fix: prevent XXE attacks in WordPress and Disqus XML imports
  app/Actions/Import/ImportFromDisqus.php
  app/Actions/Import/ImportFromWordPress.php
  tests/Feature/Import/DisqusImportTest.php
  tests/Feature/Import/WordPressImportTest.php
Due: pint, phpstan, tests

fix: harden CORS wildcard configuration
  app/Http/Middleware/ConfigureCors.php
  config/cors.php
  resources/js/Pages/Settings/Index.tsx
Due: pint, phpstan, tests, biome, typecheck

feat: send email notification for all new comments
  app/Actions/Email/SendNewCommentNotification.php
  app/Mail/NewCommentNotificationMail.php
  resources/views/emails/new-comment-notification.blade.php
Due: pint, phpstan, tests

chore: remove legacy moderation notification
  app/Actions/Email/SendModerationNotification.php
  app/Mail/ModerationNotificationMail.php
  resources/views/emails/moderation-notification.blade.php
  tests/Feature/Email/ModerationTest.php
Due: pint, phpstan, tests

fix: improve email template styling
  resources/views/emails/reply-notification.blade.php
  resources/views/vendor/mail/html/button.blade.php
  resources/views/vendor/mail/html/footer.blade.php
  resources/views/vendor/mail/html/header.blade.php
  resources/views/vendor/mail/html/layout.blade.php
  resources/views/vendor/mail/html/message.blade.php
  resources/views/vendor/mail/html/panel.blade.php
  resources/views/vendor/mail/html/subcopy.blade.php
  resources/views/vendor/mail/html/table.blade.php
  resources/views/vendor/mail/html/themes/default.css
  resources/views/vendor/mail/text/button.blade.php
  resources/views/vendor/mail/text/footer.blade.php
  resources/views/vendor/mail/text/header.blade.php
  resources/views/vendor/mail/text/layout.blade.php
  resources/views/vendor/mail/text/message.blade.php
  resources/views/vendor/mail/text/panel.blade.php
  resources/views/vendor/mail/text/subcopy.blade.php
  resources/views/vendor/mail/text/table.blade.php
Due: pint, phpstan, tests

docs: add missing embed options to embedding guide
  docs/embedding.md
Due: none

docs: add acknowledgement for Isso inspiration
  README.md
Due: none

fix: handle trailing slash mismatch in comment counts
  app/Actions/Thread/GetCommentCounts.php
  tests/Feature/Thread/CommentCountTest.php
Due: pint, phpstan, tests

refactor: improve GitHub OAuth and Telegram settings UX
  app/Actions/Admin/UpdateSettings.php
  app/Http/Controllers/Admin/SettingsController.php
  resources/js/Pages/Settings/Index.tsx
Due: pint, phpstan, tests, biome, typecheck

feat: add Email settings tab with SMTP configuration
  app/Actions/Admin/UpdateSettings.php
  app/Actions/Email/SendTestEmail.php
  app/Http/Controllers/Admin/SettingsController.php
  app/Providers/AppServiceProvider.php
  resources/js/Pages/Settings/Index.tsx
  routes/admin.php
Due: pint, phpstan, tests, biome, typecheck

feat: persist commenter info in localStorage
  embed/src/components/CommentForm.test.tsx
  embed/src/components/CommentForm.tsx
  embed/src/test-setup.ts
Due: biome, biome-embed, typecheck

perf: queue email and telegram notifications
  .env.example
  app/Actions/Comment/CreateComment.php
  app/Actions/Email/SendNewCommentNotification.php
  app/Actions/Email/SendReplyNotification.php
  app/Mail/NewCommentNotificationMail.php
  tests/Feature/Email/NewCommentNotificationTest.php
  tests/Feature/Email/ReplyNotificationTest.php
Due: pint, phpstan, tests

fix: clarify Site URL field is for the embedded website, not Bulla instance
  resources/js/Pages/Settings/Index.tsx
  resources/js/Pages/Setup.tsx
Due: biome, typecheck

fix: flush mail.manager in Octane to fix email sending from web context
  config/octane.php
Due: pint, phpstan, tests

ci: always pull fresh base images in Docker build
  .github/workflows/docker.yml
Due: none

fix: explicitly set from address/name in emails
  app/Mail/NewCommentNotificationMail.php
  app/Mail/ReplyNotificationMail.php
Due: pint, phpstan, tests

feat: add 'View in admin' link to Telegram notifications
  app/Actions/Telegram/SendTelegramNotification.php
Due: pint, phpstan, tests

style: use panel style for new comment email body
  resources/views/emails/new-comment-notification.blade.php
Due: pint, phpstan, tests

fix: add request-scoped caching to Setting::getValue()
  app/Listeners/FlushSettingsCache.php
  app/Models/Setting.php
  config/octane.php
  tests/TestCase.php
Due: pint, phpstan, tests

Path conditions:
  pint: any of: *.php
  phpstan: any of: *.php
  tests: any of: *.php
  biome: any of: *.{js,ts,tsx}
  biome-embed: any of: embed/**/*.{js,ts,tsx}
  typecheck: any of: *.{ts,tsx}
